{% extends "layout.njk" %}

{% block top%}
<div>
<a href="/"><button>Accueil</button></a>

<div>
{% endblock %}

{% block contenu%}
<div class="bloc">
  <div class="arrayPlanets">
    {% for film in films %}
      <a href="/Films/'{{film.url.split("/")[5]}}'">
        <div class="lignePlanet" >
          <div class="name">{{film.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
   <div class="arrayPlanetsDetails">
        <div >Title : {{filmDetail.title}}</div>
        <div >Episode : {{filmDetail.episode_id}}</div>
        <div >Opening_crawl : {{filmDetail.opening_crawl}}</div>
        <div >Director : {{filmDetail.director}}</div>
        <div >Producer : {{filmDetail.producer}}</div>
        <div >Release_date : {{filmDetail.release_date}}</div>
        <div class="films">
          {% for character in filmDetail.characters %}
            <a href="/People/'{{character.split("/").reverse()[1]}}'">Character {{character.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
        <div class="planetes">
          {% for planet in filmDetail.planets %}
            <a href="/Planets/'{{planet.split("/").reverse()[1]}}'">Planet {{planet.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
        <div class="starships">
          {% for starship in filmDetail.starships %}
            <a href="/Starships/'{{starship.split("/").reverse()[1]}}'">Starship {{starship.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
        <div class="vehicules">
          {% for vehicule in filmDetail.vehicles %}
            <a href="/Vehicules/'{{vehicule.split("/").reverse()[1]}}'">Vehicule {{vehicule.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
         <div class="species">
          {% for specie in filmDetail.species %}
            <a href="/Species/'{{specie.split("/").reverse()[1]}}'">Specie {{specie.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
  </div>>
</div>
{% endblock %}
