{% extends "layout.njk" %}

{% block top%}
<div>
<a href="/"><button>Accueil</button></a>

<div>
{% endblock %}

{% block contenu%}
<div class="bloc">
  <div class="arrayPlanets">
    {% for film in films %}
      <a href="/Films/'{{film.url.split("/")[5]}}'">
        <div class="lignePlanet" >
          <div class="name">{{film.title}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
   <div class="arrayPlanetsDetails">
        <div >Title : {{filmDetail.title}}</div>
        <div >Episode : {{filmDetail.episode_id}}</div>
        <div >Director : {{filmDetail.director}}</div>
        <div >Producer : {{filmDetail.producer}}</div>
        <div >Release_date : {{filmDetail.release_date}}</div>
        <div class="films">
          <p>Character</p>
           <select name="films" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
            {% for character in filmDetail.characters %}
              <option value="/People/'{{character.split("/").reverse()[1]}}'">Character {{character.split("/").reverse()[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="planetes">
         <p>Planet</p>
          <select name="planete" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for planet in filmDetail.planets %}
             <option value="/Planets/'{{planet.split("/").reverse()[1]}}'">Planet {{planet.split("/").reverse()[1]}}</option>
          {% endfor %}
           </select>
        </div>
        <div class="starships">
        <p>Starship</p>
        <select name="starship" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for starship in filmDetail.starships %}
             <option value="/Starships/'{{starship.split("/").reverse()[1]}}'">Starship {{starship.split("/").reverse()[1]}}</option>
          {% endfor %}
            </select>
        </div>
        <div class="vehicules">
        <p>Vehicule</p>
        <select name="vehicules" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for vehicule in filmDetail.vehicles %}
            <option value="/Vehicules/'{{vehicule.split("/").reverse()[1]}}'">Vehicule {{vehicule.split("/").reverse()[1]}}</option>
          {% endfor %}
          </select>
        </div>
         <div class="species">
         <p>Specie</p>
         <select name="specie" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for specie in filmDetail.species %}
             <option value="/Species/'{{specie.split("/").reverse()[1]}}'">Specie {{specie.split("/").reverse()[1]}}</option>
          {% endfor %}
          </select>
        </div>
  </div>>
</div>
{% endblock %}
