{% extends "layout.njk" %}

{% block top%}

{% endblock %}
{% block contenu%}
<div>
<a href="/Planets"><button>Planets</button></a>
<a href="/Films"><button>Films</button></a>
<a href="/People"><button>People</button></a>
<a href="/Species"><button>Species</button></a>
<a href="/Spaceships"><button>Spaceships</button></a>
<a href="/Vehicules"><button>Vehicules</button></a>

<div>
{% endblock %}



