{% extends "layout.njk" %}

{% block top%}
<div>
<a href="/"><button>Accueil</button></a>

<div>
{% endblock %}

{% block contenu%}
<div class="bloc">
  <div class="arrayPlanets">
    {% for planete in planets %}
      <a href="/Planets/'{{planete.url.split("/")[5]}}'">
        <div class="lignePlanet" >
          <div class="name">{{planete.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
   <div class="arrayPlanetsDetails">
        <div >Name : {{planetDetail.name}}</div>
        <div >Diameter : {{planetDetail.diameter}}</div>
        <div >Climate : {{planetDetail.climate}}</div>
        <div >Terrain : {{planetDetail.terrain}}</div>
        <div >Population : {{planetDetail.population}}</div>
        <div class="resident">
        <p>Resident</p>
        <select name="people" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for resident in planetDetail.residents %}
            <option value="/People/'{{resident.split("/").reverse()[1]}}'">Resident {{resident.split("/").reverse()[1]}}</option>
          {% endfor %}
        </select>
        </div>
        <div class="films">
        <p>Film</p>
        <select name="people" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for film in planetDetail.films %}
            <option value="/Films/'{{film.split("/").reverse()[1]}}'">Film {{film.split("/").reverse()[1]}}</option>
          {% endfor %}
         </select>
        </div>
  </div>
</div>
{% endblock %}





