{% extends "layout.njk" %}

{% block top%}
<div>
<a href="/"><button>Accueil</button></a>

<div>
{% endblock %}

{% block contenu%}
<div class="bloc">
  <div class="arrayPlanets">
    {% for specie in species %}
      <a href="/Species/'{{specie.url.split("/")[5]}}'">
        <div class="lignePlanet" >
          <div class="name">{{specie.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
   <div class="arrayPlanetsDetails">
        <div >Name : {{speciesDetail.name}}</div>
        <div >Classification : {{speciesDetail.classification}}</div>
        <div >Designation : {{speciesDetail.designation}}</div>
        <div >Skin_colors : {{speciesDetail.skin_colors}}</div>
        <div >Hair_colors : {{speciesDetail.hair_colors}}</div>
        <div >Eye_colors : {{speciesDetail.eye_colors}}</div>
        <div><a href="/Planets/'{{indexOfPlanet}}'">HomeWorld<a/></div>
         <div >Language : {{speciesDetail.language}}</div>
         <div class="people">
          {% for peoples in speciesDetail.people %}
            <a href="/People/'{{peoples.split("/").reverse()[1]}}'">Character {{peoples.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
        <div class="films">
          {% for character in speciesDetail.characters %}
            <a href="/People/'{{character.split("/").reverse()[1]}}'">Character {{character.split("/").reverse()[1]}}</a>
          {% endfor %}
        </div>
  </div>>
</div>
{% endblock %}
