{% extends "layout.njk" %}

{% block top%}
<div>
<a href="/"><button>Accueil</button></a>

<div>
{% endblock %}

{% block contenu%}
<div class="bloc">
  <div class="arrayPlanets">
    {% for specie in species %}
      <a href="/Species/'{{specie.url.split("/")[5]}}'">
        <div class="lignePlanet" >
          <div class="name">{{specie.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
   <div class="arrayPlanetsDetails">
        <div >Name : {{speciesDetail.name}}</div>
        <div >Classification : {{speciesDetail.classification}}</div>
        <div >Designation : {{speciesDetail.designation}}</div>
        <div >Skin_colors : {{speciesDetail.skin_colors}}</div>
        <div >Hair_colors : {{speciesDetail.hair_colors}}</div>
        <div >Eye_colors : {{speciesDetail.eye_colors}}</div>
        <div><a href="/Planets/'{{indexOfPlanet}}'">HomeWorld<a/></div>
         <div >Language : {{speciesDetail.language}}</div>
         <div class="people">
         <p>Character</p>
         <select name="people" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for peoples in speciesDetail.people %}
            <option value="/People/'{{peoples.split("/").reverse()[1]}}'">Character {{peoples.split("/").reverse()[1]}}</option>
          {% endfor %}
          </select>
        </div>
        <div class="films">
        <p>Film</p>
        <select name="film" id="pet-select" onChange="location = this.options[this.selectedIndex].value;">
          {% for film in speciesDetail.films %}
            <option value="/Films/'{{film.split("/").reverse()[1]}}'">Film {{film.split("/").reverse()[1]}}</option>
          {% endfor %}
          </select>
        </div>
  </div>>
</div>
{% endblock %}
