{% extends "layout.njk" %}

{% block top%}
  <div class="bandeau">
    Connexion
  </div>
{% endblock %}
{% block contenu%}
<div>
   <form method="POST" action="/add-connexion">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />

    <button type="submit">
      Login
    </button>
  </form>
</div>
{% endblock %}



