html, body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration:none;
  color:black
}
.bloc{
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}
.arrayPlanets{
  height: 600px;
  width: 120px;
  max-width: 500px;
  overflow: auto;
}
.arrayPlanetsDetails{
  height: 700px;
  width: 700px;
  max-width: 500px;
  overflow: auto;
  margin-left: 10%;
}
.arrayPlanetsDetails div{
  border: solid;
  height: 100px;
  text-align: center;
}
.lignePlanet{
  width: 600px;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.lignePlanetInfo{
  width: 600px;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.lignePlanetInfo div{
  width: 20%;
  border-bottom: solid;
}
.lignePlanetTitle{
  width: 600px;
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.name{
  width: 20%;
border-bottom: solid;

}
.diameter{
  width: 20%;
  border-bottom: solid;
}
.climate{
  width: 20%;
  border-bottom: solid;
}
.population{
  width: 20%;
  border-bottom: solid;
}
.resident{
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.films{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.vehicules{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.starships{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
