{% extends "layout.njk" %}

{% block top%}
  <div class="titrePAge">
  <p>Home</p>
  </div>
{% endblock %}
{% block contenu%}
  <div class="homePageBloc">
    <a href="/platforms"><button action=>List of Plateforms</button></a>
  </div>
  <form class="formPlatName" method="POST" action="/schearch">
  <select name="category" id="category-select">
    <option value="name">Name</option>
    <option value="platform">Plateform</option>
  </select>
    <input type="text" name="nameGame" placeholder="Name Game" />
    <button type="submit">
      Schearch
    </button>
  </form>
{% endblock %}



