{% extends "layout.njk" %}

{% block top%}

<div class="container-fluid pageSelector">
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pageSelector">
      {% if indexOfPage == 1 or indexOfPage == 0 %}
        <li class="page-item disabled">
          <a class="page-link" href="/platforms/1" aria-label="Previous">
          <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="/platforms/{{indexOfPage-5}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="/platforms/1" aria-label="Previous">
          <span aria-hidden="true" disabled="disabled">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/platforms/{{indexOfPage-5}}" aria-label="Previous">
          <span aria-hidden="true" disabled="disabled">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% set limitPage = 5 %}
      {% for page in numberOFPagesArray %}
        {% if indexOfPage >= limitPage %}
          {% set itterator = page + indexOfPage%}
            {% if itterator <= limitPage + (indexOfPage) %}
              {% if itterator <= numberOFPagesArray.length %}
                <li class="page-item"><a class="page-link" href="/platforms/{{itterator}}">{{itterator}}</a></li>
              {% endif %}
            {% endif %}
        {% else %}
          {% if page <= limitPage %}
            {% if page != indexOfPage%}
              <li class="page-item"><a class="page-link" href="/platforms/{{page}}">{{page}}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if indexOfPage + limitPage  >= numberOFPagesArray.length%}
        <li class="page-item disabled">
          <a class="page-link" href="/platforms/{{indexOfPage+5}}" aria-label="Next">
          <span aria-hidden="true" disabled="disabled">&raquo;</span>
          </a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="/platforms/{{numberOFPagesArray.length}}" aria-label="Next">
          <span aria-hidden="true" disabled="disabled">&raquo;&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="/platforms/{{indexOfPage+5}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/platforms/{{numberOFPagesArray.length}}" aria-label="Next">
          <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
{% block contenu%}
<div class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="col-md-12 blocCentrale">
          <div class="row">
            {% for platform in platforms%}
              <div class="col">
                <div class="card text-center" style="width: 18rem;">
                  {% if platform.logo.url == null%}
                    <img src="/images/notFound.png" class="card-img-top imgCard" alt="">
                  {% else %}
                    <img src="{{platform.logo.url}}" class="card-img-top imgCard" alt="">
                  {% endif %}
                  <div class="card-body contenuCard">
                    <h5 class="card-title textTitleCard">{{platform.name}}</h5>
                    <a href="/platforms/games/{{platform.id}}:{{platform.name}}" class="btn btn-primary">Open</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
