{% extends "layout.njk" %}

{% block top%}
<a href="/"><button>Retour</button></a>
{% endblock %}
{% block contenu%}
  <div class="navPage">
    <a href="/platforms/1"><<</a>
    {% if indexOfPage == 0%}

    {% else %}
      <a href="/platforms/{{indexOfPage-1}}"><</a>
    {% endif %}
    <div class="nbPage">
      {% set limitPage = 5 %}
      {% for page in numberOFPagesArray %}
        {% if indexOfPage > limitPage %}
          {% set itterator = page + indexOfPage%}
            {% if itterator <= limitPage + (indexPageGame) %}
              {% if itterator <= numberOFPagesArray.length %}
                <a href="/platforms/{{itterator}}">{{itterator}}</a>
              {% endif %}
            {% endif %}
        {% else %}
          {% if page <= limitPage %}
            <a href="/platforms/{{page}}">{{page}}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% if indexOfPage == numberOFPagesArray.length%}
    {% else %}
      <a href="/platforms/{{indexOfPage+1}}">></a>
    {% endif %}

    <a href="/platforms/{{numberOFPagesArray.length}}">>></a>
  </div>
  <div class="blocPlatforms">
    {% for platform in platforms%}
      <a href="/platforms/games/{{platform.id}}:{{platform.name}}">
      <div class="ligneDivPlatforms">
        <div>
          {% if platform.logo.url == null%}
            <div class="namePlatform">{{platform.name}}</div>
          {% else %}
            <img src="{{platform.logo.url}}"></img>
            <div class="namePlatform">{{platform.name}}</div>
          {% endif %}
        </div>
      </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
