{% extends "layout.njk" %}

{% block top%}

{% endblock %}
{% block contenu%}
<div class="container">
    <div class="row top">
        <div class="col-md-4 red"><h1>test</h1></div>
        <div class="col-md-4 red"><p>defgrz</p></div>
        <div class="col-md-4 red">fgh</div>
    </div>
    <div class="row ">
        <div class="col-xs-12 blue">jhgfdxcvg</div>
    </div>
    <div class="row ">
        <div class="col-md-6 green">fdsdqbsgns</div>
        <div class="col-md-6 green">bthths</div>
    </div>
</div>
{% endblock %}



