.menu{
  background-color: rgb(91, 89, 89);
  height: 200px;
}

.blocCentrale{

}

.blocRight{

}

.pageSelector{
  height: 100px;
}

.textTitleCard{
  font-size: 15px;
}
.imgCard{
  height: 286px;
  width: 286px;
}
.contenuCard{

}
